html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $bg-color;
  font-size: 100%;
  font-family: $base-font;
  position: relative;
}

.page-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 $gutter;
  height: 100vh;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  header,
  footer {
    flex: 0 0 0%;
  }

  main {
    flex: 1 0 0%;
    margin-left: -$gutter;
    margin-right: -$gutter;
    padding-left: $gutter;
    padding-right: $gutter;
    background: $color-white;
    overflow-y: scroll;
  }

  footer {
    .buttons {
      margin: 1rem 0;
    }
  }
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.333334rem;
  font-weight: 600;
}

.lead-in-text {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;

  .lead {
    font-size: 1.333334rem;
    font-weight: 600;
  }
}

hr {
  margin: 1.75rem 0;
  background-color: $color-accent-light;
}

.arrow-right-icon {
  position: relative;
  width: 8px;
  height: 13px;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.filter-icon {
  position: relative;
  width: 10px;
  height: 13px;
  background-image: url('../../assets/icons/filters.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.search-icon {
  position: relative;
  width: 12px;
  height: 13px;
  background-image: url('../../assets/icons/search.svg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.submitted-container {
  text-align: center;

  // TODO: add icon
  .submitted-icon {
    margin: 4rem auto 1rem;
    width: 80px;
    height: 80px;
    outline: 1px solid black;
  }

  .lead-in-text {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;

    .lead {
      margin-bottom: 1rem;
    }
  }

  .strong-text {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}
