.formkit-wrapper,
.formkit-fieldset {
  max-width: 100%;
}

.formkit-form {
  .formkit-outer {
    font-family: $base-font;
    margin-bottom: 4rem;
  }
}

.formkit-label,
.formkit-legend {
  font-family: $base-font;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.formkit-inner {
  position: relative;
  border-color: $color-accent-light;
  box-shadow: 0 0 0 1px $color-accent-light;
  background: $color-white;
}

[data-invalid] .formkit-inner {
  border-color: $color-error;
  box-shadow: 0 0 0 1px $color-error;
}

.formkit-message {
  color: $color-error;
}

[data-type='multifile'],
[data-type='contributiontyperadio'] {
  .formkit-inner {
    border: none !important;
    box-shadow: none !important;
    flex-direction: column;
    align-items: flex-start;
  }
}

[data-type='checkbox'],
[data-type='radio'] {
  .formkit-inner {
    border: none !important;
    box-shadow: none !important;

    &:focus-within {
      .formkit-input ~ .formkit-decorator {
        border-color: $color-accent;
        box-shadow: 0 0 0 2px $color-accent;
      }
    }

    .formkit-input ~ .formkit-decorator {
      width: 1rem;
      height: 1rem;
      box-shadow: 0 0 0 2px $color-accent-light;
      background: transparent;
      margin-left: 0.15rem;
      margin-right: 0.75rem;
    }
  }

  .formkit-label {
    font-size: 1rem;
    color: $color-black;
  }

  .formkit-option {
    margin-bottom: 1.5rem;

    .formkit-option-help {
      margin-left: 3.3rem;
      margin-top: 0.25em;
    }
  }

  .formkit-messages {
    margin-top: 0.5rem;
  }
}

[data-type='radio'] {
  input[type='radio'].formkit-input:checked ~ .formkit-decorator::before {
    background: $color-accent;
  }
}

[data-type='checkbox'] {
  input[type='checkbox'].formkit-input:checked ~ .formkit-decorator::before {
    border-color: $color-accent;
  }
}

.formkit-actions {
  margin-top: 3rem;
}

.formkit-input:not(textarea) {
  padding-top: 0;
  padding-bottom: 0;
  height: 2.75em;
  line-height: 2.75em;
}

[data-type='button'],
[data-type='submit'] {
  .formkit-input {
    width: 100%;
    background: $color-accent-light;
    color: $color-black;
    font-family: $base-font;
    font-size: 1.333334rem;
    font-weight: 600;

    &:hover {
      background: $color-accent;
      color: $color-white;
    }
  }
}

[data-type='checkbox'],
[data-type='radio'] {
  fieldset.formkit-fieldset {
    border: none;
    padding: 0;
  }
}

.formkit-inner:focus-within {
  border-color: $color-accent;
  box-shadow: 0 0 0 2px $color-accent;
}

[data-type='select']:not([data-multiple]) {
  .formkit-inner {
    border-radius: 5em;

    &::after {
      height: 16px;
      width: 16px;
      right: 8px;
    }
  }
}

select.formkit-input {
  padding-right: 28px;
}

.small .formkit-input {
  width: unset;
  height: unset;
  padding: 5px 8px;
  font-size: 10px;
}

// export list of contributions
.contribution.formkit-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid $color-accent-light;
  display: flex;
  cursor: pointer;
  label {
    flex-grow: 1;
  }
  span {
    font-size: 12px;
    font-weight: 700;
    display: block;
  }
}

// automatic counters
.formkit-form {
  counter-reset: formkit-counter;

  .formkit-label,
  .formkit-legend {
    counter-increment: formkit-counter;

    &::before {
      content: counter(formkit-counter) '. ';
      display: inline-block;
      min-width: 1.25rem;
    }
  }

  [data-type='checkbox'] .formkit-label,
  [data-type='radio'] .formkit-label {
    counter-increment: none;

    &::before {
      display: inline;
      content: none;
    }
  }

  .formkit-inner,
  .formkit-messages,
  .formkit-help {
    margin-left: 1.35rem;
  }
}

// small button overrides
[data-type='button'],
[data-type='submit'] {
  &.small-button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    .formkit-input {
      font-size: 0.833334rem;
      background-color: transparent;
      background-image: url('../icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: right 0.8em top 0.7em;
      background-size: 0.45em 1em;
      box-shadow: 0 0 0 1px $color-accent-light;
      padding-top: 0.6em;
      padding-left: 0.75em;
    }
  }
}

[data-type='button'],
[data-type='submit'] {
  .formkit-input:focus-visible,
  .formkit-input:focus-within {
    border-color: $color-accent;
    box-shadow: 0 0 0 1px $color-accent;
  }
}

// filter form overrides
.filters-form {
  max-height: 100vh;
  // overflow-y: scroll;
  // background-color: $color-white;
  box-shadow: 0 0 4px 1px #eeebf7;
  border-radius: 3px;
  border: 1px solid #ffffff;
  .formkit-actions {
    background-color: $color-white;
    margin-top: 0;
    .formkit-outer {
      margin-bottom: 0;
      padding: 0 $gutter;
      padding-bottom: 1rem;
    }
  }

}

// search overrides
.search {
  .formkit-outer {
    margin-bottom: 0;
  }
}

// desktop
@media (min-width: 992px) {
  .tools-right {
    .formkit-outer {
      margin-bottom: 0;
    }
    [data-type='button'] {
      .formkit-input {
        font-size: 14px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
  }
}
