.formkit-wrapper,
.formkit-fieldset {
  max-width: 100%;
}

.formkit-form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .formkit-outer {
    font-family: $base-font;
    margin-bottom: 4rem;

    .formkit-help {
      font-size: 12px;
      line-height: 1.3;
    }
  }
}

.formkit-label,
.formkit-legend {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 1rem;
  display: flex;
}

.formkit-inner {
  position: relative;
  border-color: $color-accent-light;
  box-shadow: 0 0 0 1px $color-accent-light;
  background: $color-white;
}

[data-invalid] .formkit-inner {
  border-color: $color-error;
  box-shadow: 0 0 0 1px $color-error;
}

.formkit-message {
  color: $color-error;
}

[data-type='multifile'],
[data-type='contributiontyperadio'],
[data-type='contributiontypecheckbox'],
[data-type='daterangeinput'] {
  > .formkit-wrapper > .formkit-inner {
    border: none !important;
    box-shadow: none !important;
    flex-direction: column;
    align-items: flex-start;
  }
}

[data-type='checkbox'],
[data-type='radio'] {
  .formkit-inner {
    border: none !important;
    box-shadow: none !important;

    &:focus-within {
      .formkit-input ~ .formkit-decorator {
        border-color: $color-accent;
        box-shadow: 0 0 0 2px $color-accent;
      }
    }

    .formkit-input ~ .formkit-decorator {
      width: 1rem;
      height: 1rem;
      box-shadow: 0 0 0 2px $color-accent-light;
      background: transparent;
      margin-left: 0.15rem;
      margin-right: 0.75rem;
    }
  }

  .formkit-label {
    font-size: 14px;
    color: $color-black;
  }

  .formkit-option {
    margin-bottom: 1.5rem;

    .formkit-option-help {
      margin-left: 3.3rem;
      margin-top: 0.25em;
    }
  }

  .formkit-messages {
    margin-top: 0.5rem;
  }
}

[data-type='radio'] {
  input[type='radio'].formkit-input:checked ~ .formkit-decorator::before {
    background: $color-accent;
  }
}

[data-type='checkbox'] {
  input[type='checkbox'].formkit-input:checked ~ .formkit-decorator::before {
    border-color: $color-accent;
  }
}

.formkit-input:not(textarea) {
  padding-top: 0;
  padding-bottom: 0;
  height: 2.75em;
  line-height: 2.75em;
}

[data-type='button'],
[data-type='submit'] {
  .formkit-input {
    width: 100%;
    background: $color-accent-light;
    color: $color-black;
    font-family: $base-font;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      background: $color-accent;
      color: $color-white;
    }
  }
}

[data-type='checkbox'],
[data-type='radio'] {
  fieldset.formkit-fieldset {
    border: none;
    padding: 0;
  }
}

.formkit-inner:focus-within {
  border-color: $color-accent;
  box-shadow: 0 0 0 2px $color-accent;
}

[data-type='select']:not([data-multiple]) {
  .formkit-inner {
    border-radius: 5em;

    &::after {
      height: 16px;
      width: 16px;
      right: 8px;
      background-color: $color-accent;
      clip-path: path('M 8 11.01 L 3 5 L 13 5 L 8 11.01 Z');
    }
  }
}

select.formkit-input {
  padding-right: 3em;
  padding-left: 1.5em;
}

.small .formkit-input {
  width: unset;
  height: unset;
  padding: 5px 8px;
  font-size: 14px;
}

[data-type='date'] {
  .formkit-inner {
    max-width: 9.5em;

    .formkit-input {
      &::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
      }

      background-image: url('../icons/calendar.svg');
      background-repeat: no-repeat;
      background-size: 0.9em;
      background-position: right 0.8em center;
    }
  }
}

.formkit-actions {
  margin-top: 3rem;

  [data-type='button'],
  [data-type='submit'] {
    .formkit-input {
      width: auto;
    }
  }
}

// export list of contributions
.contribution.formkit-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid $color-accent-light;
  display: flex;
  cursor: pointer;
  label {
    flex-grow: 1;
  }
  span {
    font-size: 14px;
    font-weight: 700;
    display: block;
  }
}

// automatic counters
.formkit-form {
  counter-reset: formkit-counter;

  .formkit-label,
  .formkit-legend {
    counter-increment: formkit-counter;

    &::before {
      content: counter(formkit-counter) '. ';
      display: inline-block;
      min-width: 1.25rem;
    }
  }

  [data-type='checkbox'] .formkit-label,
  [data-type='radio'] .formkit-label {
    counter-increment: none;

    &::before {
      display: inline;
      content: none;
    }
  }

  .formkit-inner,
  .formkit-messages,
  .formkit-help {
    margin-left: 1.35rem;
  }
}

// disable counter on login/filters form
.login-form .formkit-form,
.filters-modal .formkit-form {
  .formkit-label,
  .formkit-legend {
    &::before {
      display: none;
    }
  }

  .formkit-inner,
  .formkit-messages,
  .formkit-help {
    margin-left: 0;
  }
}

// small button overrides
[data-type='button'],
[data-type='submit'] {
  &.small-button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;

    .formkit-input {
      font-size: 12px;
      background-color: transparent;
      background-image: url('../icons/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: right 0.8em top 0.7em;
      background-size: 0.45em 1em;
      box-shadow: 0 0 0 2px $color-accent-light;
      padding: 0.6em 2.5em 0.6em 1.5em;

      &:hover {
        border-color: $color-accent;
        box-shadow: 0 0 0 1px $color-accent;
        color: inherit;
      }
    }
  }
}

[data-type='button'],
[data-type='submit'] {
  .formkit-input:focus-visible,
  .formkit-input:focus-within {
    border-color: $color-accent;
    box-shadow: 0 0 0 1px $color-accent;
  }
}

// search overrides
.search {
  .formkit-outer {
    margin-bottom: 0;
  }
}

.small-header-right {
  .export-contributions-link {
    margin-bottom: 0;

    .formkit-input {
      background-color: transparent;
      background-image: url('../../assets/icons/download.svg');
      background-repeat: no-repeat;
      background-position: left 0.7em top 0.7em;
      background-size: 1.5em 1.5em;
      box-shadow: 0 0 0 2px $color-accent-light;
      height: 2.5rem;
      padding: 0.8em 0.8em 0.4em 3em;
      font-size: 12px;
    }
  }
}

.optional-label-text {
  color: $color-grey;
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  margin-top: 0.33em;
}

// desktop
@media (min-width: 992px) {
  .tools-right {
    .formkit-outer {
      margin-bottom: 0;
    }

    [data-type='button'] {
      .formkit-input {
        font-size: 14px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }

    .export-contributions-link {
      margin-right: 1rem;

      .formkit-input {
        box-shadow: 0 0 0 2px $color-accent-light;
        padding-top: calc(0.75em - 2px);
        padding-bottom: calc(0.75em - 2px);
        height: calc(2.75em - 4px);
        padding-left: 2.4em;
        background-color: transparent;
        background-image: url('../../assets/icons/download.svg');
        background-repeat: no-repeat;
        background-position: left 0.7em top 0.7em;
        background-size: 1.25em 1.25em;
        color: $color-black;

        &:focus-within,
        &:hover {
          box-shadow: 0 0 0 2px $color-accent;
        }
      }
    }
  }
}
