$gutter: 1.6667rem;
$bg-color: #f7f6fb;
$base-font: 'Inter', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-grey: #595959;
$color-light-grey: #dadada;
$color-medium-grey: #999999;
$color-accent-super-light: #eeebf7;
$color-accent-light: #d2c8ee;
$color-accent: #3a1790;
$color-error: #b30030;
$color-orange: #edcdaf;
$color-blue: #0042c7;
