$gutter: 1.6667rem;
$bg-color: #f7f6fb;
$base-font: 'Inter', sans-serif;

$color-black: #000;
$color-white: #fff;
$color-accent-light: #d2c8ee;
$color-accent: #3a1790;
$color-error: #b30030;
$color-orange: #edcdaf;
