apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rule-of-law-reporting
resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
images:
  - name: rule-of-law-reporting
    newName: rg.fr-par.scw.cloud/djnd/rule-of-law-reporting
    newTag: 'f45ac67c9503c105116a6bbcc940de162e727d90'
