apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rolr
resources:
  - frontend/deployment.yaml
  - frontend/ingress.yaml
  - frontend/service.yaml
  - nocodb/deployment.yaml
  - nocodb/ingress.yaml
  - nocodb/pvc.yaml
  - nocodb/service.yaml
images:
  - name: rule-of-law-reporting
    newName: rg.fr-par.scw.cloud/djnd/rule-of-law-reporting
    newTag: 'd18f73d3ad180dad98517befe544993a05c646b0'
