apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rolr
resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
images:
  - name: rule-of-law-reporting
    newName: rg.fr-par.scw.cloud/djnd/rule-of-law-reporting
    newTag: '11ce160ce8f0e53dbae9cbec9c2e447475b26efe'
