apiVersion: v1
kind: Secret
metadata:
  name: nocodb-secrets
  labels:
    app.kubernetes.io/name: nocodb-credentials
    app: nocodb-secrets
stringData:
  NC_DB: 'pg://<DB_URL>:<DB_PORT>?u=<DB_USERNAME>&p=<DB_PASSWORD>&d=<DB_NAME>'
